src/main/app/jira-plugin.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:jira="http://www.mulesoft.org/schema/mule/jira"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/2.0/mule-jira.xsd">

     <flow name="jira-get-iterations" doc:name="jira-get-iterations">
     	<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
     	<set-variable value="${jira.pluginId}" variableName="pluginId" doc:name="Variable pluginId" />
     	<set-variable variableName="projectId" value="#[header:inbound:projectId]" doc:name="projectId"/>
        <flow-ref name="getPluginConfig" doc:name="Flow Reference getPluginConfig"/>
        <set-variable variableName="user" value="#[payload.get('jira.user')]" doc:name="user"/>
        <set-variable variableName="pass" value="#[payload.get('jira.password')]" doc:name="pass"/>
        <set-variable variableName="greenhopper" value="#[payload.get('jira.greenhopper')]" doc:name="greenhopper"/>
		<custom-transformer class="com.mulesoft.tcm.utils.GetJiraIssuesFromSprint" doc:name="Java"/>
        <echo-component doc:name="Echo"/>
    </flow>

    <flow name="jira-get-issues" doc:name="jira-get-issues">
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <set-payload value="#[message.inboundProperties[&quot;http.query.params&quot;][&quot;sprint&quot;]]" doc:name="Set Payload"/>
        <regex-filter pattern="[0-9]" doc:name="Regex"/>
        <set-variable value="${jira.pluginId}" variableName="pluginId" doc:name="Variable pluginId" />
        <set-variable variableName="projectId" value="#[header:inbound:projectId]" doc:name="projectId"/>
        <flow-ref name="getPluginConfig" doc:name="Flow Reference"/>        
        <jira:get-issues-from-jql-search  connectionUser="#[payload.get('jira.user')]" connectionPassword="#[payload.get('jira.password')]" connectionAddress="#[payload.get('jira.address')]"  doc:name="Jira" jqlSearch="project = #[payload.get('jira.project')] and sprint in (#[message.inboundProperties['http.query.params']['sprint'] ]) #[payload.get('jira.jql')]" maxNumResults="100" config-ref="Jira"/>        
    </flow>
    
</mule>
