src/main/app/test-case-manager.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:ss="http://www.springframework.org/schema/security"
      xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
      xmlns:api-key="http://www.mulesoft.org/schema/mule/api-key" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jira="http://www.mulesoft.org/schema/mule/jira" xmlns:cors="http://www.mulesoft.org/schema/mule/cors" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/2.0/mule-jira.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cors http://www.mulesoft.org/schema/mule/cors/current/mule-cors.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.mulesoft.org/schema/mule/api-key http://www.mulesoft.org/schema/mule/api-key/1.0/mule-api-key.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
	
    <jdbc-ee:mysql-data-source name="MySQL_Data_Source" user="${db.user}" password="${db.password}" url="jdbc:mysql://${db.host}:3306/${db.database}" transactionIsolation="UNSPECIFIED" doc:name="MySQL Data Source"/>
    <jdbc-ee:connector name="Database" dataSource-ref="MySQL_Data_Source" validateConnections="true" queryTimeout="-1" pollingFrequency="0" doc:name="Database"/>
    <jira:config name="Jira" doc:name="Jira">
        <jira:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </jira:config>
    <jira:config name="Jira1" doc:name="Jira">
        <jira:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </jira:config>
    <http:connector name="HTTP_HTTPS" cookieSpec="netscape" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP\HTTPS"/>
    
   
    <flow name="RlsIterations" doc:name="RlsIterations">
<!--         <flow-ref name="validate_api_key" doc:name="Flow Reference"/> -->
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getReleasesIterations" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getReleasesIterations" value="CALL getReleasesIterations(#[header:INBOUND:projectId])"/>
         </jdbc-ee:outbound-endpoint>
         <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
         <custom-transformer class="com.mulesoft.tcm.model.ReleasesTransformer" doc:name="Java"/>
         <json:object-to-json-transformer doc:name="Object to JSON"/>
         
    </flow>
    
    <flow name="getReleases" doc:name="getReleases">
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getReleases" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getReleases" value="CALL getReleases(#[header:INBOUND:projectId])"/>
         </jdbc-ee:outbound-endpoint>
         <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
         
    </flow>
    
    <flow name="features_flow" doc:name="features_flow">
<!--     	<flow-ref name="validate_api_key" doc:name="Flow Reference"/>         -->
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getFeatures" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getFeatures" value="CALL getFeatures( #[variable:iterationsMemberId])"/>
        </jdbc-ee:outbound-endpoint>
         <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
    </flow>
    
    <flow name="testcases_flow" doc:name="testcases_flow">
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <set-variable value="#[variable:featuresMemberId]" variableName="itemId" doc:name="itemId" />
        <set-variable value="#[message.inboundProperties[&quot;http.query.params&quot;][&quot;userName&quot;]]" variableName="userName" doc:name="userName" />
        <component class="com.mulesoft.pusher.PusherTriggerInUseBy" doc:name="Java"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getTCs" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getTCs" value="CALL getTestCasesByFeature(#[variable:featuresMemberId])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
        
    </flow>
    <flow name="executedTestCases" doc:name="executedTestCases">
    	<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getTcsRunned" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getTcsRunned" value="CALL executedTestCases(#[variable:releasesMemberId], #[variable:iterationsMemberId], #[variable:featuresMemberId])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
        
    </flow>
    <flow name="closeAtDB" doc:name="closeAtDB" processingStrategy="synchronous">
        <flow-ref name="getJiraIssueState" doc:name="getJiraIssueState"/>
        <choice doc:name="Choice">
            <when expression="#[payload.fields.status.id == &quot;5&quot;]">
               <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="closeIssue" queryTimeout="-1" connector-ref="Database" doc:name="closeIssue">
                   <jdbc-ee:query key="closeIssue" value="CALL closeIssue(#[flowVars[&quot;featureId&quot;]])"/>
               </jdbc-ee:outbound-endpoint>
            </when>
            <otherwise>
                <logger level="DEBUG" message="issue already closed" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="monitoringExecutedtestcases" doc:name="monitoringExecutedtestcases">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="monitoringETC" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
        <flow-ref name="validate_api_key" doc:name="validate_api_key"/>
        <set-variable variableName="projectId" value="#[header:inbound:projectId]" doc:name="projectId"/>
        <json:json-to-object-transformer returnClass="java.util.List" doc:name="JSON to Object"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[flowVars['toUpdate'] = new java.util.ArrayList();
return payload;]]></scripting:script>
        </scripting:component>
        <foreach doc:name="For Each">
            <set-variable variableName="featureId" value="#[payload.featureId]" doc:name="featureId"/>
            <set-variable variableName="issueKey" value="#[payload.issueKey]" doc:name="issueKey"/>
            <set-variable variableName="states" value="#[payload.states]" doc:name="states"/>
            <choice doc:name="Choice">
                <when expression="#[flowVars['issueKey'] != 'N0k31']">
                    <choice doc:name="Choice">
                        <when expression="#[flowVars['issueKey'] != 'suite']">
                            <flow-ref name="closeAtDB" doc:name="closeAtDB"/>
                        </when>
                        <otherwise>
                            <logger message="porqueria" level="TRACE" doc:name="Logger"/>
                        </otherwise>
                    </choice>
                </when>
                <otherwise>
                    <logger message="no jiraKey found" level="DEBUG" doc:name="Logger"/>
                </otherwise>
            </choice>
            <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getTcsRunned" queryTimeout="-1" connector-ref="Database" doc:name="Database">
                <jdbc-ee:query key="getTcsRunned" value="CALL monitoringExecutedTestCases(#[variable:featureId])"/>
            </jdbc-ee:outbound-endpoint>
            <set-payload value="#[payload.resultset1.get(0)]" doc:name="Set Payload"/>
            <scripting:component doc:name="Groovy">
                <scripting:script engine="Groovy"><![CDATA[import groovy.json.*

def atUI = flowVars['states'];
def fromDB = payload;

def json = new JsonBuilder();




if (atUI.state == fromDB.state && atUI.total == fromDB.total && atUI.notrun == fromDB.notrun && atUI.failed == fromDB.failed && atUI.inprogress == fromDB.inprogress && atUI.blocked == fromDB.blocked && atUI.pass == fromDB.pass ){
	return '';
}else{

json {
	notrun fromDB.notrun
	failed fromDB.failed
	blocked fromDB.blocked
	inprogress fromDB.inprogress
	pass fromDB.pass
	total fromDB.total
	state fromDB.state
}

	flowVars['toUpdate'].add('{"featureId":'+flowVars['featureId']+', "states":' + json.toString() +'}');
}]]></scripting:script>
            </scripting:component>
        </foreach>
        <set-payload value="#[flowVars['toUpdate'].toString()]" doc:name="Set Payload"/>
    </flow>
    
    <flow name="closeJiraManager" doc:name="closeJiraManager" processingStrategy="synchronous">
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <set-variable variableName="featureId" value="#[message.inboundProperties[&quot;http.query.params&quot;][&quot;featureId&quot;]]" doc:name="featureId"/>
    	<set-variable value="${jira.pluginId}" variableName="pluginId" doc:name="Variable pluginId" />
        <set-variable variableName="projectId" value="#[header:inbound:projectId]" doc:name="projectId"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getIssue" connector-ref="Database" queryTimeout="-1" doc:name="getIssueState">
            <jdbc-ee:query key="getIssue" value="CALL getIssueState(#[flowVars[&quot;featureId&quot;]])"/>
        </jdbc-ee:outbound-endpoint>
        <choice doc:name="Choice">
            <when expression="#[payload.resultset1[0].state == 2]">
                <set-variable variableName="issueKey" value="#[message.inboundProperties[&quot;http.query.params&quot;][&quot;issueKey&quot;]]" doc:name="issueKey"/>
                <flow-ref name="getJiraIssueState" doc:name="getJiraIssueState"/>
                <choice doc:name="Choice">
                    <when expression="#[payload.fields.status.id == &quot;5&quot;]">
                        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="closeIssue" queryTimeout="-1" connector-ref="Database" doc:name="closeIssue">
                            <jdbc-ee:query key="closeIssue" value="CALL closeIssue(#[flowVars[&quot;featureId&quot;]])"/>
                        </jdbc-ee:outbound-endpoint>
                        <set-payload value="true" doc:name="Set Payload"/>
                    </when>
                    <otherwise>
                        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="lockIssue" queryTimeout="-1" connector-ref="Database" doc:name="lockIssueAtDB">
                            <jdbc-ee:query key="lockIssue" value="CALL lockIssue(#[flowVars[&quot;featureId&quot;]])"/>
                        </jdbc-ee:outbound-endpoint>
				        <flow-ref name="getPluginConfig" doc:name="Flow Reference getPluginConfig"/>
				        <flow-ref name="setJiraAuthenticationHeaders" doc:name="Flow Reference setJiraAuthenticationHeaders"/> 
                        <http:outbound-endpoint exchange-pattern="request-response" host="www.mulesoft.org" port="80" path="jira/rest/api/2/issue/#[flowVars[&quot;issueKey&quot;]]/transitions?expand=transitions.fields" method="GET" disableTransportTransformer="true" contentType="application/json" doc:name="get issue transitions"/>
                        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
                        <scripting:component doc:name="verify if issue can be closed">
                            <scripting:script engine="Groovy"><![CDATA[def transitionId = '';

 for(transition in payload.transitions){ 
 	//if(transition.to.id.toInteger() == 6){ 
 	//	transitionId = transition.to.id; 
 	//}else  
 	if(transition.to.id.toInteger() == 5){ 
 		transitionId = transition.id; 
 	} 
 }; 

 return transitionId;]]></scripting:script>
                        </scripting:component>
                        <set-variable variableName="transactionId" value="#[payload]" doc:name="transactionId"/>
                        <choice doc:name="Choice">
                            <when expression="#[payload != '']">
						        <flow-ref name="getPluginConfig" doc:name="Flow Reference getPluginConfig"/>
                                <jira:progress-workflow-action connectionUser="#[payload.get('jira.user')]" connectionPassword="#[payload.get('jira.password')]" connectionAddress="#[payload.get('jira.address')]" actionIdString="#[flowVars['transactionId']]" issueKey="#[flowVars[&quot;issueKey&quot;]]" doc:name="Jira" config-ref="Jira"/>
                                <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="closeIssue" queryTimeout="-1" connector-ref="Database" doc:name="closeIssue">
                                    <jdbc-ee:query key="closeIssue" value="CALL closeIssue(#[flowVars[&quot;featureId&quot;]])"/>
                                </jdbc-ee:outbound-endpoint>
                                <set-payload value="true" doc:name="Set Payload"/>
                            </when>
                            <otherwise>
                                <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="unlockIssue" queryTimeout="-1" connector-ref="Database" doc:name="unlockIssueAtDB">
                                    <jdbc-ee:query key="unlockIssue" value="CALL unlockIssue(#[flowVars[&quot;featureId&quot;]])"/>
                                </jdbc-ee:outbound-endpoint>
                                <logger message="no se puede cerrar" level="INFO" doc:name="Logger"/>
                                <set-payload value="false" doc:name="Set Payload"/>
                            </otherwise>
                        </choice>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <set-payload value="false" doc:name="Set Payload"/>
            </otherwise>
         </choice>
         <catch-exception-strategy doc:name="Catch Exception Strategy">
	        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryTimeout="-1" doc:name="unlockIssueAtDB" connector-ref="Database" queryKey="unlockIssue">
	            <jdbc-ee:query key="unlockIssue" value="CALL unlockIssue(#[flowVars[&quot;featureId&quot;]])"/>
	        </jdbc-ee:outbound-endpoint>
            <set-payload value="false" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="test-case-managerFlow1" doc:name="test-case-managerFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="closeJira" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"></cors:filter>
        <flow-ref name="closeJiraManager" doc:name="Flow Reference"/>
    </flow>
    <flow name="getJiraIssueState" doc:name="getJiraIssueState" processingStrategy="synchronous">
<!--         <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="getIssueState" doc:name="HTTP"/> -->
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
		<set-variable value="${jira.pluginId}" variableName="pluginId" doc:name="Variable pluginId" />
		<flow-ref name="getPluginConfig" doc:name="Flow Reference getPluginConfig"/>
        <set-variable variableName="user" value="#[payload.get('jira.user')]" doc:name="user"/>
        <set-variable variableName="pass" value="#[payload.get('jira.password')]" doc:name="pass"/>
		<custom-transformer class="com.mulesoft.tcm.utils.GetJiraIssueInfo" doc:name="Java"/>
<!--         <jira:get-issues-from-jql-search connectionUser="#[payload.get('jira.user')]" connectionPassword="#[payload.get('jira.password')]" doc:name="Jira" connectionAddress="https://www.mulesoft.org/jira/rpc/soap/jirasoapservice-v2" jqlSearch="issueKey = ION-2565" maxNumResults="1000" config-ref="Jira1"/> -->
<!--         <https:outbound-endpoint exchange-pattern="request-response" host="www.mulesoft.org" port="80" path="jira/rest/api/2/issue/#[flowVars[&quot;issueKey&quot;]]" disableTransportTransformer="true" contentType="application/json" doc:name="get issue transitions" method="GET" connector-ref="HTTP_HTTPS"/> -->
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
    </flow>
    
   <flow name="createTestCase" doc:name="createTestCase">
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="createTC" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="createTC" value="CALL createTestCase(#[variable:featuresMemberId], #[json:name], #[json:description], #[json:proposed])"/>
        </jdbc-ee:outbound-endpoint>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="updateTestCase" doc:name="updateTestCase">
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="updateTC" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="updateTC" value="CALL updateTestCase(#[variable:testcasesMemberId], #[json:name], #[json:description], #[json:proposed])"/>
        </jdbc-ee:outbound-endpoint>
        
    </flow>
    <flow name="deleteTestCase" doc:name="deleteTestCase">
    	<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="deleteTC" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="deleteTC" value="CALL deleteTestCase(#[variable:testcasesMemberId])"/>
        </jdbc-ee:outbound-endpoint>
        
    </flow>
    <flow name="updateTestCaseStatus" doc:name="updateTestCaseStatus">
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="updateTC" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="updateTC" value="CALL updateTCStatus(#[variable:testcasesMemberId], #[json:statusId], #[json:actualResult])"/>
        </jdbc-ee:outbound-endpoint>
        
    </flow>
    
     <flow name="getPlan" doc:name="getPlan">
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getPlan" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getPlan" value="CALL getPlan(#[variable:iterationsMemberId])"/>
        </jdbc-ee:outbound-endpoint>
         <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
        <custom-transformer class="com.mulesoft.tcm.model.TestPlanTransformer" doc:name="Java"/>
        
    </flow>
   
     <flow name="getMetric-executed" doc:name="getMetric-executed">
<!--         <flow-ref name="validate_api_key" doc:name="Flow Reference"/> -->
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getMetric-executed" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getMetric-executed" value="CALL metrics_executed(#[variable:iterationsMemberId])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
    </flow>
         <flow name="metricsExecutedFeature" doc:name="metricsExecutedFeature">
<!--         <flow-ref name="validate_api_key" doc:name="Flow Reference"/> -->
		<http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="metricsExecutedFeature" doc:name="HTTP"/>
		<cors:filter config-ref="tcm-cors"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getMetric-executed" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getMetric-executed" value="CALL metrics_executed_by_feature(#[message.inboundProperties['http.query.params']['featureId']])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
   <flow name="ris" doc:name="ris">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="ris" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="ris" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="ris" value="CALL getInProgressTCbyIterId(#[message.inboundProperties['http.query.params']['iterationId']])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
   </flow>
      <flow name="getFBTCS" doc:name="getFBTCS">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="getFBTCS" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="getFBTCS" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getFBTCS" value="CALL getfailblockTCbyIterId(#[message.inboundProperties['http.query.params']['iterationId']],#[message.inboundProperties['http.query.params']['statusId']])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
   </flow> 
         <flow name="getTcStatusByFeature" doc:name="getTcStatusByFeature">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="getTcStatusByFeature" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="getFBTCS" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getFBTCS" value="CALL getTcStatusByFeature(#[message.inboundProperties['http.query.params']['featureId']],#[message.inboundProperties['http.query.params']['statusId']])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
   </flow>     
    <flow name="getDailyExecution" doc:name="getDailyExecution">
<!--     	<flow-ref name="validate_api_key" doc:name="Flow Reference"/> -->
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getDailyExecution" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getDailyExecution" value="CALL metrics_dailyExecution(#[variable:iterationsMemberId])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
    </flow>
    
    <flow name="getIterationsTrend" doc:name="getIterationsTrend">
    <cors:filter config-ref="tcm-cors"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getIterationsTrend" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getIterationsTrend" value="CALL metrics_iterationsTrend(#[variable:releasesMemberId])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
    </flow>
    
    <flow name="createRequirement" doc:name="createRequirement">
    	<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="createReq" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="createReq" value="CALL createFeature(#[variable:iterationsMemberId], #[json:key], #[json:summary], #[json:desc])"/>
        </jdbc-ee:outbound-endpoint>
        <set-variable value="#[payload.resultset1.get(0).featureId]" variableName="featuresMemberId" doc:name="Variable" />
        <logger message="NEW FEATURE #[flowVars['featuresMemberId']]" level="INFO" doc:name="Logger"/>
   </flow>
   
   <flow name="deleteFeature" doc:name="deleteFeature">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="deleteFeature" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
    	<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="deleteFeature" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="deleteFeature" value="CALL deleteFeature(#[message.inboundProperties['http.query.params']['featureId']])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="true" doc:name="Set Payload"/>
   </flow>
   
      <flow name="deleteRelease" doc:name="deleteRelease">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="deleteRelease" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
    	<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="deleteRelease" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="deleteRelease" value="CALL deleteRelease(#[message.inboundProperties['http.query.params']['releaseId']])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="true" doc:name="Set Payload"/>
   </flow>
   
        <flow name="deleteIteration" doc:name="deleteIteration">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="deleteIteration" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
    	<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="deleteIteration" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="deleteIteration" value="CALL deleteIteration(#[message.inboundProperties['http.query.params']['iterationId']])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="true" doc:name="Set Payload"/>
   </flow>
   
   <flow name="cloneTcs" doc:name="cloneTcs">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="cloneTcs" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <set-variable value="#[payload.featureId]" variableName="featureId" doc:name="Variable" />
		<foreach doc:name="For Each" collection="#[payload.testcases]">
            <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="cloneTcs" queryTimeout="-1" connector-ref="Database" doc:name="Database">
                <jdbc-ee:query key="cloneTcs" value="CALL cloneTC(#[flowVars['featureId']],#[payload])"/>
            </jdbc-ee:outbound-endpoint>
        </foreach>
        <set-payload value="true" doc:name="Set Payload"/>
    </flow>
   
   <flow name="createRelease" doc:name="createRelease">
   		<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <choice doc:name="Choice">
            <when expression="#[payload.contains('start&quot;:&quot;empty')]">
                <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="createRls" queryTimeout="-1" connector-ref="Database" doc:name="Database">
                    <jdbc-ee:query key="createRls" value="CALL createRelease(#[header:INBOUND:projectId], #[json:name], null, null)"/>
                </jdbc-ee:outbound-endpoint>
            </when>
            <otherwise>
                <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="createRls" queryTimeout="-1" connector-ref="Database" doc:name="Database">
                    <jdbc-ee:query key="createRls" value="CALL createRelease(#[header:INBOUND:projectId], #[json:name], #[json:start], #[json:end])"/>
                </jdbc-ee:outbound-endpoint>
            </otherwise>
        </choice>
        <set-variable value="#[payload.resultset1.get(0).releaseId]" variableName="releasesMemberId" doc:name="Variable" />
   </flow>
   <flow name="createIteration" doc:name="createIteration">
   		<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="createIter" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="createIter" value="CALL createIteration(#[variable:releasesMemberId], #[json:name])"/>
        </jdbc-ee:outbound-endpoint>
        <set-variable value="#[payload.resultset1.get(0).iterId]" variableName="iterationsMemberId" doc:name="Variable" />
   </flow>
   <flow name="getUserProjects" doc:name="getUserProjects">
   		<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="getUserProject" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getUserProject" value="CALL getUserProjects(#[variable:usersMemberId])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
   </flow>
   <flow name="getFeaturesIterations" doc:name="getFeaturesIterations">
   		<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
   		<jdbc-ee:outbound-endpoint exchange-pattern="request-response"  queryKey="getFeaturesIterations" queryTimeout="-1"  connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="getFeaturesIterations" value="CALL getFeaturesIterations()"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
   </flow>
  
   <flow name="getCarriedOverFeatures" doc:name="getCarriedOverFeatures">
    	<flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="metrics_getCarriedOverFeatures" queryTimeout="-1" connector-ref="Database" doc:name="Database">
            <jdbc-ee:query key="metrics_getCarriedOverFeatures" value="CALL metrics_getCarriedOverFeatures(#[variable:releasesMemberId])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
    </flow>
    
    <flow name="saveProjectConfig" doc:name="saveProjectConfig" >
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="saveProjectConfig" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="saveProjectConfig" queryTimeout="-1" connector-ref="Database" doc:name="Database">
			<jdbc-ee:query key="saveProjectConfig" value="CALL saveProjectConfig(#[json:configId], #[json:springIterations], #[json:iterationDuration],#[json:bugurl], #[header:INBOUND:projectId])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    
    <flow name="getProjectConfig" doc:name="getProjectConfig" >
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="getProjectConfig" doc:name="HTTP"/>
        <cors:filter config-ref="tcm-cors"/>
        <flow-ref name="validate_api_key" doc:name="Flow Reference"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="getProjectConfig" queryTimeout="-1" connector-ref="Database" doc:name="Database">
			<jdbc-ee:query key="getProjectConfig" value="CALL getProjectConfig(#[header:INBOUND:projectId])"/>
        </jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload.resultset1]" doc:name="Set Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    
</mule>